* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --spacer: 5px;
    --main-font: "Merriweather Sans", sans-serif;
    --secondary-font: "Merriweather";
    --primary-font-color: #212529;
    --orange-color: rgb(244, 98, 58);
    --faded-white: rgba(255, 255, 255, 0.75);
    --gray-color: #6C757D;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font);
}

section {
    scroll-margin-top: 75.6px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--orange-color);
}

ul {
    list-style-type: none;
}

p {
    font-family: var(--secondary-font);
}

h1,
h2 {
    position: relative;
}

/*display: flex*/
.d-flex {
    display: flex;
}

/*flex direction*/
.f-direction-column {
    flex-direction: column;
}

.f-direction-columnReverse {
    flex-direction: column-reverse;
}

.f-direction-row {
    flex-direction: row;
}

.f-direction-rowReverse {
    flex-direction: row-reverse;
}

/*warp*/
.warp {
    flex-wrap: wrap;
}

.no-warp {
    flex-wrap: nowrap;
}

/*justify-content*/
.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-left {
    justify-content: left;
}

.justify-right {
    justify-content: right;
}

.justify-flex-start {
    justify-content: flex-start;
}

.justify-flex-end {
    justify-content: flex-end;
}

/*align-items*/
.align-items-center {
    align-items: center;
}

.align-items-flex-start {
    align-items: flex-start;
}

.align-items-flex-end {
    align-items: flex-end;
}

/*gap*/
.gap-1 {
    gap: calc(var(--spacer) * 1);
}

.gap-2 {
    gap: calc(var(--spacer) * 2);
}

.gap-3 {
    gap: calc(var(--spacer) * 3);
}

.gap-4 {
    gap: calc(var(--spacer) * 4);
}

.gap-5 {
    gap: calc(var(--spacer) * 5);
}

.gap-6 {
    gap: calc(var(--spacer) * 6);
}

/*flex-grow*/
.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

/*flex-shrink*/
.flex-shrink-1 {
    flex-shrink: 1;
}

.flex-shrink-2 {
    flex-shrink: 2;
}

/*display: grid*/
.d-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/*padding top*/
.pt-0 {
    padding-top: 0px;
}

.pt-1 {
    padding-top: calc(var(--spacer) * 1);
}

.pt-2 {
    padding-top: calc(var(--spacer) * 2);
}

.pt-3 {
    padding-top: calc(var(--spacer) * 3);
}

.pt-4 {
    padding-top: calc(var(--spacer) * 4);
}

.pt-5 {
    padding-top: calc(var(--spacer) * 5);
}

.pt-6 {
    padding-top: calc(var(--spacer) * 6);
}

.pt-7 {
    padding-top: calc(var(--spacer) * 7);
}

.pt-16 {
    padding-top: calc(var(--spacer) * 18);
}


/*padding bottom*/
.pb-0 {
    padding-bottom: 0px;
}

.pb-1 {
    padding-bottom: calc(var(--spacer) * 1);
}

.pb-2 {
    padding-bottom: calc(var(--spacer) * 2);
}

.pb-3 {
    padding-bottom: calc(var(--spacer) * 3);
}

.pb-4 {
    padding-bottom: calc(var(--spacer) * 4);
}

.pb-5 {
    padding-bottom: calc(var(--spacer) * 5);
}

.pb-6 {
    padding-bottom: calc(var(--spacer) * 6);
}

/*padding left*/
.pl-0 {
    padding-left: 0px;
}

.pl-1 {
    padding-left: calc(var(--spacer) * 1);
}

.pl-2 {
    padding-left: calc(var(--spacer) * 2);
}

.pl-3 {
    padding-left: calc(var(--spacer) * 3);
}

.pl-4 {
    padding-left: calc(var(--spacer) * 4);
}

.pl-5 {
    padding-left: calc(var(--spacer) * 5);
}

.pl-6 {
    padding-left: calc(var(--spacer) * 6);
}

/*padding right*/
.pr-0 {
    padding-right: 0px;
}

.pr-1 {
    padding-right: calc(var(--spacer) * 1);
}

.pr-2 {
    padding-right: calc(var(--spacer) * 2);
}

.pr-3 {
    padding-right: calc(var(--spacer) * 3);
}

.pr-4 {
    padding-right: calc(var(--spacer) * 4);
}

.pr-5 {
    padding-right: calc(var(--spacer) * 5);
}

.pr-6 {
    padding-right: calc(var(--spacer) * 6);
}

/*padding top and bottom*/
.py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.py-1 {
    padding-top: calc(var(--spacer) * 1);
    padding-bottom: calc(var(--spacer) * 1);
}

.py-2 {
    padding-top: calc(var(--spacer) * 2);
    padding-bottom: calc(var(--spacer) * 2);
}

.py-3 {
    padding-top: calc (var(--spacer) * 3);
    padding-bottom: calc(var(--spacer) * 3);
}

.py-4 {
    padding-top: calc(var(--spacer) * 4);
    padding-bottom: calc(var(--spacer) * 4);
}

.py-5 {
    padding-top: calc(var(--spacer) * 5);
    padding-bottom: calc(var(--spacer) * 5);
}

.py-6 {
    padding-top: calc(var(--spacer) * 6);
    padding-bottom: calc(var(--spacer) * 6);
}

.py-7 {
    padding-top: calc(var(--spacer) * 7);
    padding-bottom: calc(var(--spacer) * 7);
}

.py-8 {
    padding-top: calc(var(--spacer) * 8);
    padding-bottom: calc(var(--spacer) * 8);
}

.py-9 {
    padding-top: calc(var(--spacer) * 9);
    padding-bottom: calc(var(--spacer) * 9);
}

.py-25 {
    padding-top: calc(var(--spacer) * 25);
    padding-bottom: calc(var(--spacer) * 25);
}

/*padding left and right*/
.px-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.px-1 {
    padding-left: calc(var(--spacer) * 1);
    padding-right: calc(var(--spacer) * 1);
}

.px-2 {
    padding-left: calc(var(--spacer) * 2);
    padding-right: calc(var(--spacer) * 2);
}

.px-3 {
    padding-left: calc(var(--spacer) * 3);
    padding-right: calc(var(--spacer) * 3);
}

.px-4 {
    padding-left: calc(var(--spacer) * 4);
    padding-right: calc(var(--spacer) * 4);
}

.px-5 {
    padding-left: calc(var(--spacer) * 5);
    padding-right: calc(var(--spacer) * 5);
}

.px-6 {
    padding-left: calc(var(--spacer) * 6);
    padding-right: calc(var(--spacer) * 6);
}

/*padding top right bottom left*/
.p-0 {
    padding: 0px;
}

.p-1 {
    padding: calc(var(--spacer) * 1);
}

.p-2 {
    padding: calc(var(--spacer) * 2);
}

.p-3 {
    padding: calc(var(--spacer) * 3);
}

.p-4 {
    padding: calc(var(--spacer) * 4);
}

.p-5 {
    padding: calc(var(--spacer) * 5);
}

.p-6 {
    padding: calc(var(--spacer) * 6);
}

/*margin*/
.margin-auto {
    margin: auto;
}

/*margin top*/
.mt-0 {
    margin-top: 0px;
}

.mt-1 {
    margin-top: calc(var(--spacer) * 1);
}

.mt-2 {
    margin-top: calc(var(--spacer) * 2);
}

.mt-3 {
    margin-top: calc(var(--spacer) * 3);
}

.mt-4 {
    margin-top: calc(var(--spacer) * 4);
}

.mt-5 {
    margin-top: calc(var(--spacer) * 5);
}

.mt-6 {
    margin-top: calc(var(--spacer) * 6);
}

.mt-7 {
    margin-top: calc(var(--spacer) * 7);
}

.mt-8 {
    margin-top: calc(var(--spacer) * 8);
}

.mt-9 {
    margin-top: calc(var(--spacer) * 9);
}

.mt-10 {
    margin-top: calc(var(--spacer) * 10);
}

.mt-11 {
    margin-top: calc(var(--spacer) * 11);
}

.mt-12 {
    margin-top: calc(var(--spacer) * 12);
}

.mt-17 {
    margin-top: calc(var(--spacer) * 17);
}

/*margin bottom*/
.mb-0 {
    margin-bottom: 0px;
}

.mb-1 {
    margin-bottom: calc(var(--spacer) * 1);
}

.mb-2 {
    margin-bottom: calc(var(--spacer) * 2);
}

.mb-3 {
    margin-bottom: calc(var(--spacer) * 3);
}

.mb-4 {
    margin-bottom: calc(var(--spacer) * 4);
}

.mb-5 {
    margin-bottom: calc(var(--spacer) * 5);
}

.mb-6 {
    margin-bottom: calc(var(--spacer) * 6);
}

.mb-7 {
    margin-bottom: calc(var(--spacer) * 7);
}

.mb-8 {
    margin-bottom: calc(var(--spacer) * 8);
}

.mb-9 {
    margin-bottom: calc(var(--spacer) * 9);
}

/*margin left*/
.ml-0 {
    margin-left: 0px;
}

.ml-1 {
    margin-left: calc(var(--spacer) * 1);
}

.ml-2 {
    margin-left: calc(var(--spacer) * 2);
}

.ml-3 {
    margin-left: calc(var(--spacer) * 3);
}

.ml-4 {
    margin-left: calc(var(--spacer) * 4);
}

.ml-5 {
    margin-left: calc(var(--spacer) * 5);
}

.ml-6 {
    margin-left: calc(var(--spacer) * 6);
}

/*margin right*/
.mr-0 {
    margin-right: 0px;
}

.mr-1 {
    margin-right: calc(var(--spacer) * 1);
}

.mr-2 {
    margin-right: calc(var(--spacer) * 2);
}

.mr-3 {
    margin-right: calc(var(--spacer) * 3);
}

.mr-4 {
    margin-right: calc(var(--spacer) * 4);
}

.mr-5 {
    margin-right: calc(var(--spacer) * 5);
}

.mr-6 {
    margin-right: calc(var(--spacer) * 6);
}

/*margin top right bottom left*/
.m-0 {
    margin: 0px;
}

.m-1 {
    margin: calc(var(--spacer) * 1);
}

.m-2 {
    margin: calc(var(--spacer) * 2);
}

.m-3 {
    margin: calc(var(--spacer) * 3);
}

.m-4 {
    margin: calc(var(--spacer) * 4);
}

.m-5 {
    margin: calc(var(--spacer) * 5);
}

.m-6 {
    margin: calc(var(--spacer) * 6);
}

/*text-align left*/
.text-align-left {
    text-align: left;
}

/*text-align right*/
.text-align-right {
    text-align: right;
}

/*text-align center*/
.text-align-center {
    text-align: center;
}

/*text transform uppercase*/
.text-transform-upper {
    text-transform: uppercase;
}

/*text transform lowercase*/
.text-transform-lower {
    text-transform: lowercase;
}

/*font-size*/
.fs-1 {
    font-size: calc(var(--spacer) * 3);
}

.fs-2 {
    font-size: calc(var(--spacer) * 4);
}

.fs-3 {
    font-size: calc(var(--spacer) * 5);
}

.fs-4 {
    font-size: calc(var(--spacer) * 6);
}

.fs-5 {
    font-size: calc(var(--spacer) * 7);
}

.fs-8 {
    font-size: calc(var(--spacer) * 8);
}

.fs-9 {
    font-size: calc(var(--spacer) * 9);
}

.fs-10 {
    font-size: calc(var(--spacer) * 10);
}

.fs-11 {
    font-size: calc(var(--spacer) * 11);
}

/*font color*/
.p-fonColor {
    color: var(--primary-font-color);
}

/*font weight*/
.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

/*font-family*/
.main-font {
    font-family: var(--main-font);
}

.secondary-font {
    font-family: var(--secondary-font);
}

/*font style*/
.italic-font {
    font-style: italic;
}

.normal-font {
    font-style: normal;
}

.oblique-font {
    font-style: oblique;
}

/*font stretch*/
.font-stretch {
    font-stretch: 100%;
}

/*letter spacing in px*/
.ls-0 {
    letter-spacing: 0px;
}

.ls-1 {
    letter-spacing: 1px;
}

.ls-2 {
    letter-spacing: 2px;
}

.ls-3 {
    letter-spacing: 3px;
}

.ls-4 {
    letter-spacing: 4px;
}

.ls-5 {
    letter-spacing: 5px;
}

.ls-6 {
    letter-spacing: 6px;
}

.ls-7 {
    letter-spacing: 7px;
}

.ls-8 {
    letter-spacing: 8px;
}

.ls-9 {
    letter-spacing: 9px;
}

.ls-10 {
    letter-spacing: 10px;
}

/*letter spacing in %*/
.lsp-0 {
    letter-spacing: 0%;
}

.lsp-1 {
    letter-spacing: 1%;
}

.lsp-2 {
    letter-spacing: 2%;
}

.lsp-3 {
    letter-spacing: 3%;
}

.lsp-4 {
    letter-spacing: 4%;
}

.lsp-5 {
    letter-spacing: 5%;
}

.lsp-6 {
    letter-spacing: 6%;
}

.lsp-7 {
    letter-spacing: 7%;
}

.lsp-8 {
    letter-spacing: 8%;
}

.lsp-9 {
    letter-spacing: 9%;
}

.lsp-10 {
    letter-spacing: 10%;
}

/*line height*/
.lh-0{
    line-height: 0px;
}

.lh-1{
    line-height: 1px;
}

.lh-2{
    line-height: 2px;
}

.lh-3{
    line-height: 3px;
}

.lh-4{
    line-height: 4px;
}

.lh-5{
    line-height: 5px;
}

.lh-6{
    line-height: 6px;
}

.lh-7{
    line-height: 7px;
}

.lh-8{
    line-height: 8px;
}

.lh-9{
    line-height: 9px;
}

.lh-10{
    line-height: 10px;
}


/*background-color*/
.bg-sucess {
    background-color: green;
}

.bg-danger {
    background-color: red;
}

.bg-white {
    background-color: #fff;
}

.bg-gray{
    background-color: var(--gray-color);
}

.bg-light-gray{
    background-color: rgba(248, 249, 250, 1);
}

.bg-orange {
    background-color: var(--orange-color);
}

.bg-dark{
    background-color: var(--primary-font-color);
}

/*text-color*/
.tc-sucess {
    color: green;
}

.tc-danger {
    color: red;
}

.tc-main-bold {
    color: var(--primary-font-color);
}

.tc-faded {
    color: var(--faded-white);
}

.tc-white {
    color: #fff;
}

.tc-gray {
    color: var(--gray-color);
}

/*shadow*/
.box-shadow {
    box-shadow: 0 8px 20px 16px rgba(0, 0, 0, 0.15);
}

/*border*/
.border {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 4px 8px;
    border-radius: 6px;
}

/*width percentage*/
.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}

/*max-width*/
.mw-100{
    max-width: 100px;
}

.mw-200{
    max-width: 200px;
}

.mw-300{
    max-width: 300px;
}

.mw-400{
    max-width: 400px;
}

.mw-500{
    max-width: 500px;
}

.mw-600{
    max-width: 600px;
}

.mw-700{
    max-width: 700px;
}

.mw-800{
    max-width: 800px;
}

.mw-900{
    max-width: 900px;
}

.mw-1000{
    max-width: 1000px;
}

/*height*/
.vh-100 {
    min-height: 100vh;
}

/*position*/
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

/*card*/
.card {
    padding: 20px;
    border-radius: 5px;
    flex-grow: 1;
    background-color: antiquewhite;
}

/*laer over the hero section */
.layer {
    position: absolute;
    inset: 0;
    background-color: rgba(92, 77, 66, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

button {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 35px;
    border: none;
    border-radius: 29px;
}

.btn-orange {
    background-color: #f4623a;
    transition: background-color 0.3s;
}

.btn-orange:hover {
    cursor: pointer;
    background-color: #e5532d;
}

.btn-white {
    background-color: #fff;
    transition: background-color 0.3s;
}

.btn-white:hover {
    cursor: pointer;
    background-color: #e2e6ea;
}

/*making line under h1 and h2*/
.section-title {
    position: relative;
}

.section-title::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: var(--divider-color, #f4623a);
    margin: 20px auto 0;
    ;
    position: absolute;
    left: 50%;
    bottom: -29px;
    transform: translateX(-50%);
}

/*responsive design*/
/*resposive header*/
@media screen and (min-width:0px) and (max-width:991px) {
    nav .d-flex {
        display: none;
    }

    header .py-5 {
        padding: 15px 0px;
    }
}

/*resposive hero*/
@media screen and (min-width:361px) and (max-width:674px) {
    .hero-details h1 {
        font-size: 45px;
    }
}

@media screen and (min-width:0px) and (max-width:360px) {
    .hero-details h1 {
        font-size: 35px;
    }
}