/*header*/
#header{
    width: 100%;
    z-index: 10;
}
.burger-menu{
    display: none;
    width: 50px;
    height: 44px;
}

/*responsive for header*/
@media screen and (min-width:0px) and (max-width:991px)   {
    .burger-menu{
        display: flex;
    }
}

/*hero section*/
.hero-section{
    background-image: url(./../imgs/hero-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} 

.hero-details {
    max-width: 700px;
}

/*get started section*/
.about-content{
    max-width: 700px;
}
.about-section {
    --divider-color: white;
    padding: 95px 0px;
}
